[user]
	email = keyakoto@gmail.com
	name = Seonggwon Yoon
	signingkey = 9F0592F065A34B8D

[commit]
    gpgsign = true

[core]
    autocrlf = false
    safecrlf = true
    preloadindex = true
    editor = vim

[color]
    status = always

[push]
    default = upstream

[pull]
    rebase = true

[alias]
    st = status

[init]
	defaultBranch = main

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    features = side-by-side line-numbers decorations

[interactive]
    diffFilter = delta --color-only
