alias z="j"
alias tmux="tmux -2"
alias ls='ls --color=tty 2>/dev/null'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias cd.='cd ..'
alias cd..='cd ..'
alias l='ls -alF'
alias ll='ls -l'
alias vi='nvim'
alias vim='nvim'

export GPG_TTY=$(tty)
